:root {
  --logo-font: "Pacifico", cursive;
  --title-font: "Castoro", serif;
  --body-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: var(--body-font);
  background-color: #f9fafb;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav, .footer, .content {
  width: 100%;
}

.nav{
  background: transparent;
}

.footer {
  background-color: rgb(232, 235, 238);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
